
<div class="container my-5 pt-2">
    <div class="row justify-content-center">
        <div class="col-lg-8">
<div class="row mt-5 mb-3 border bg">
    <div class="col-lg-6 col-md-6 col-xd-12">
        <img src="assets\img\3.jpg" class="rounded-circle card-img-top img-fluid img-responsive py-4" alt="photo">
    </div>
    <div class="col-lg-6 col-md-6 col-xd-12">
        <h2 class="mt-5">nom et prénom</h2>
        <h2 class="pb-4">Age</h2>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.veritatis delectus ut!</p>
    </div>
</div>
 <h4 class="py-2">Invitation de coach</h4>

            <div class="card-deck">
                <div class="card">
                  <img src="assets\img\10.png" class="card-img-top img-fluid img-responsive pt-4" alt="photo">
                  <div class="card-body">
                    <h5 class="card-title">Nom et prénom</h5>
                    <p>Age</p>
                    <button type="button" class="btn primar text-light">Accept</button>
                    <button type="button" class="btn btn-danger">Refuse</button>
                  </div>
                </div>
                <div class="card">
                  <img src="assets\img\4.png" class="card-img-top img-fluid img-responsive pt-2" alt="photo">
                  <div class="card-body">
                    <h5 class="card-title">Nom et prénom</h5>
                    <p>Age</p>
                    <button type="button" class="btn primar text-light">Accept</button>
                    <button type="button" class="btn btn-danger">Refuse</button>
                  </div>
                </div>
                
              </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-8">
          <h4 class="pb-2"> Invitation de coach</h4>
            <div class="card-deck">
                <div class="card">
                  <img src="assets\img\13.png" class="card-img-top img-fluid img-responsive pt-4" alt="photo">
                  <div class="card-body">
                    <h5 class="card-title">Nom et prénom</h5>
                    <p>Age</p>
                    <button type="button" class="btn primar text-light">Accept</button>
                    <button type="button" class="btn btn-danger">Refuse</button>
                  </div>
                </div>
                <div class="card">
                  <img src="assets\img\14.png" class="card-img-top img-fluid img-responsive pt-2" alt="photo">
                  <div class="card-body">
                    <h5 class="card-title">Nom et prénom</h5>
                    <p>Age</p>
                    <button type="button" class="btn primar text-light">Accept</button>
                    <button type="button" class="btn btn-danger">Refuse</button>
                  </div>
                </div>
                
              </div>
<button type="button" class="btn primar mt-3 text-light" data-toggle="button" aria-pressed="false" autocomplete="off">
  See All Coaches
</button>
<button type="button" class="btn primar mt-3 text-light" data-toggle="button" aria-pressed="false" autocomplete="off">
  See All FoodSpecialist
</button>
        </div>
    </div>
</div>