.modal-sm {
    max-width: 800px !important;
}
.modal-dialog.cascading-modal.modal-avatar .modal-header img {
    width: 204px !important;
}
img{
    width: 50%;
    height:17rem;
    margin-left:25%;
}
.card{
    box-shadow: 0px 5px 14px 0px #2B92DF !important;
    width:40% !important;
}
.bg{
     background-color: #FAFAFA; 
}
.btn-danger{
    float:right;
}
 .primar{
    background-image:linear-gradient(#46b6ee,#0093df) !important; 
}
h4{
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1px;
    font-style: italic;
}

/* start media query */
@media(max-width:576px)
{
.card{
    width:100% !important;
}
}

@media(max-width:768px)
{

}

@media(max-width:992px)

{

}

@media(max-width:1200px)
{

}
/* end media query */