<div class="container py-5 mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded img-responsive img-fluid mx-auto mt-1 mb-4">
            <p class="border p-4 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, culpa eaque quas 
                in illo tempore placeat magni sit labore ratione 
                perspiciatis explicabo impedit architecto rem rerum ea nobis. Maxime, voluptates?</p>
                <i class="far fa-trash-alt p-2"></i>
                <i class="fa fa-pencil p-2 ml-2"></i>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded img-responsive img-fluid mx-auto mt-1 mb-4">
            <p class="border p-4 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, culpa eaque quas 
                in illo tempore placeat magni sit labore ratione 
                perspiciatis explicabo impedit architecto rem rerum ea nobis. Maxime, voluptates?</p>
                <i class="far fa-trash-alt p-2"></i>
                <i class="fa fa-pencil p-2 ml-2"></i>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded img-responsive img-fluid mx-auto mt-1 mb-4">
            <p class="border p-4 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, culpa eaque quas 
                in illo tempore placeat magni sit labore ratione 
                perspiciatis explicabo impedit architecto rem rerum ea nobis. Maxime, voluptates?</p>
                <i class="far fa-trash-alt p-2"></i>
                <i class="fa fa-pencil p-2 ml-2"></i>
        </div>






    </div>
</div>
