* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
  }
section{
    background-image: url('src/assets/img/cta-bg.jpg');
    background-size: cover;
    background-position: center;
    width:100%;
    height:100vh;
    /* position: relative; */
    z-index: -1200;
    padding-top: 5rem !important;
}
.one img{
    width: 80%;
    height: 25rem;
    position: absolute;
    z-index: 1200;
}
.container{
    border-radius: 10px;
    margin-top: 2rem;
}
.card{
     box-shadow: 0px 5px 14px 0px #2B92DF; 
     width:76%;      
     position: absolute;
     z-index: 2000;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
    margin: 0rem !important;
}
.modal-dialog.cascading-modal .modal-c-tabs .tab-content {
    padding: 1.7rem 0 0 0;
    box-shadow: 0px 5px 14px 0px #2B92DF !important;
}
#modalLRForm img{
    max-width: 18%;
    height: 12rem;
    margin-left: 41%;
}
#modalLRForm {
margin-top: -4rem;
}
form{
width:80%;
margin-left:10% !important;

}