
<!-- start section-About -->
    <section class="offer-area section-gap" id="offer">
      <div class="container">	
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">We care about what we offer</h1>
              <p>Who are in extremely love with eco friendly system.</p>
            </div>
          </div>
        </div>									
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xd-12">
            <div class="single-offer">
              <img class="img-fluid" src="assets\img\13.png" alt="ph">
              <h4>Regular Exercise</h4>
              <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xd-12">
            <div class="single-offer">
              <img class="img-fluid" src="assets\img\13.png" alt="">
              <h4>Training on the go</h4>
			  <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xd-12">
            <div class="single-offer">
              <img class="img-fluid" src="assets\img\13.png" alt="">
              <h4>Body Building Packages</h4>
			  <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>												
        </div>
      </div>	
    </section>
<!-- end section-About -->
	<!-- start section-Services -->
    <section class="ftco-section-services ftco-degree py-5">
    	<div class="container">
    		<div class="row d-flex align-items-center">
    			<div class="col-lg-6 col-md-6 col-xd-12 d-flex align-self-stretch">
    				<div class="align-self-stretch"><img src="assets\img\11.png" class="img-fluid img-responsive mt-4" alt="ph"></div>
    			</div>
    			<div class="col-lg-6 col-md-6 col-xd-12 align-self-stretch pt-5">
    				<div class="row justify-content-center mb-3">
		          <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
		          	<h3 class="subheading">Shape Your Body</h3>
		            <h2 class="mb-4">What We Do?</h2>
		          </div>
		        </div>
    				<div class="services d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<i class="fas fa-running px-3"></i>
							</div>
							<div class="text ml-5">
								<h3>Analyze Your Goal</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							</div>
  					</div>
  					<div class="services d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<!-- <span class="flaticon-gym"></span> -->
								<!-- <img src="assets\img\icon3.png" class="img-fluid"> -->
								<i class="fas fa-dumbbell px-2"></i>
							</div>
							<div class="text ml-5">
								<h3>Work Hard On It</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							</div>
  					</div>
  					<div class="services d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<!-- <span class="flaticon-tools-and-utensils"></span> -->
								<!-- <img src="assets\img\icon2.png" class="img-fluid"> -->
								<!-- <i class="fa fa-boxing-glove px-2"></i> -->
								<!-- <i class="fas fa-futbol"></i> -->
								<i class="fas fa-utensils px-3"></i>
							</div>
							<div class="text ml-5">
								<h3>Improve Your Performance</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							</div>
  					</div>
  					<div class="services d-flex ftco-animate fadeInUp ftco-animated">
							<div class="icon d-flex justify-content-center align-items-center">
								<!-- <span class="flaticon-abs"></span> -->
								<!-- <img src="assets\img\icon1.png" class="img-fluid"> -->
								<i class="fas fa-swimmer px-2"></i>
							</div>
							<div class="text ml-5">
								<h3>Achieve Your Perfect Body</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							</div>
  					</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- end section-About -->
