<!-- start footer -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xd-12">
                <div class="footer-widget">
                    <div class="about-widget">
                        <img src="assets/img/logo.png" alt="logo"> 
                        <p>Lorem ipsum dolor sit amet, consec-tetur adipiscing elit sed.</p>
                       
                    </div>
                </div>
            </div>
           
          
            <div class="col-lg-6 col-sm-6 col-xd-12">
                <div class="footer-widget pl-0 pl-lg-5">
                   
                    <ul>
                        <li><i class="material-icons">phone</i>(965) 436 3274</li>
                        <li><i class="material-icons">email</i>ahana.yoga@gmail.com</li>
                        <li><i class="material-icons">map</i>184 Main Collins Street</li>
                    </ul>
                   
                </div>
            </div>
        </div>
        <!-- start footer-social -->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-8 text-md-right">
                    <div class="copyright">
Copyright ©<script>document.write(new Date().getFullYear());</script> 2020 All rights reserved | This Application is made with by <a href="https://colorlib.com" target="_blank">Student YOUCODE</a>
</div>
                </div>
            </div>
        </div>
        <!-- end footer-social -->
    </div>
</footer>
<!-- end footer -->
