/* start footer */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
  }
.footer-section {
    padding-top: 70px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f4f5f7;
}
/* start col */
.footer-widget .about-widget img {
    margin-bottom: 30px;
}
img {
    /* max-width: 100%;
    vertical-align: middle;
    border-style: none; */
    width:9rem !important;
}
li{
    text-decoration: none;
    list-style-type:none;
}
.footer-widget ul li {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}
.footer-widget ul li i {
    font-size: 18px;
    color: #0093df;
    position: relative;
    top: 3px;
    margin-right: 10px;
}
.footer-widget ul li a {
    color: #666666;
}


/* ************** */
/* start footer-social */
.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #e6e6e6;
    padding: 20px 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.footer-social a {
    color: #666666;
    margin-right: 15px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.copyright a {
    color: #666666;
    font-weight: 600;
}

/* end footer social */
 /* end footer */

 /* start media query */
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}

@media only screen and (max-width: 767px) and (min-width: 576px), (max-width: 576px){
    .copyright {
        text-align: center;
    }
    }
    @media only screen and (max-width: 767px) and (min-width: 576px), (max-width: 576px){
    .footer-social {
        text-align: center;
        margin-bottom: 15px;
    }
    }

/* end media query */


   
