
<!-- start header -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between" style="height: 754px;">
            <div class="col-lg-6 col-md-6 col-xd-12 banner-img">
                <img class="img-fluid img-responsive" src="assets\img\13.png" alt="photo">
            </div>
            <div class="banner-content col-lg-6 col-md-6 col-xd-12">
                <h1 class="text-uppercase">
                    <span>YogaFlex</span> to <br> Shape your<br> body
                </h1>
                <a routerLink="/calculator" class="primary-btn mt-40 infront">Calculer BMI</a>
            </div>
        </div>
    </div>
</section>
<!-- end header -->
