* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: "Poppins", sans-serif;
}
 /* start header */
section{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.625em;
    display: block;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
 .overlay-bg {
  position: relative;
  z-index: -99999 !important;
}
.relative {
  position: relative;
}
.align-items-center {
  align-items: center !important;
}
.row {
  /* display: flex; */
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.banner-area {
  background: url('src/assets/img/banner-bg.jpg') center;
  background-size: cover;
}
.banner-area .container-fluid {
  padding-left: 15%;
  padding-right: 20%;
}
.banner-content {
  text-align: left;
}
.banner-content h1 {
  font-size: 60px;
  font-weight: 100;
  margin-top: 10px;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
}
.banner-content h1 span {
  color: #0093df;
}
.col-lg-6{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.banner-content .primary-btn {
  font-size: 13px;
  background: #0093df;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.mt-40 {
  margin-top: 40px;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}

/* end header */
/* start media query */

@media (max-width: 1199.98px){
.banner-content h1 {
    font-size: 45px;
}
}
@media (min-width: 992px){
  .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  }
@media (max-width: 991.98px){
.banner-content h1 {
    font-size: 36px;
}
}
@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (max-width: 767px){
  .fullscreen {
      height: 700px !important;
  }
  .banner-area .banner-img {
      display: none;
  }
  .banner-content {
      padding: 0 10%;
  }
  }
  @media (max-width: 480px){
    .banner-content h1 {
        font-size: 32px;
    }
    }
 
/* end media query */