.body{
    background-image: url('src/assets/img/banner-bg.jpg');
    width:100%;
    height:100vh;
    margin-top: -5rem;
    position: relative;
    z-index: -999;
}
img{
     height: 31rem;
    margin-top: 4rem; 
    max-width: 100%;
    /* height: auto; */
}
h1{
    font-size: 45px;
    font-weight: 120;
    margin-top: 190px;
}
span{
    color:#0093df;
}
/* media query */
 /* Small  */
 @media (min-width: 576px) { 
    img{
     display: none;
       }
     }
   /* Medium  */
 @media (min-width: 768px) { 
    /* img{
        margin-top: 3rem;
       }
     h1{
        margin-top: 165px;
       } */
      }
      /* Large  */
  @media (min-width: 992px) { 

  }
 /* Extra large  */
 @media (min-width: 1200px) { 

 }
