<section class="">
<div class="container mt-5 py-5 bg-transparent">
    <div class="row justify-content-center">
        <div class="col-lg-10">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-xd-12">
        <img src="assets\img\3.jpg" class="rounded-circle card-img-top img-fluid img-responsive py-3" alt="photo">
   <h4>Name et prénom</h4>
   <h4>Age</h4>
   <p class="border p-3 my-2 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elidebitis odit quibusdam vero, 
       mollitia iusto</p>
       <h4>Creat Food</h4>
<!-- **************** -->
<!-- Material form  -->
<div class="" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant"> 
      <!-- Nom food -->
        <input type="text" id="defaultRegisterFormEmail" class="form-control" placeholder="Name food">     
              <!-- Photo -->
    <div class="input-group my-2">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01"
          aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">choisir image</label>
      </div>
    </div>
      <!-- Type Of Food -->
 <select class="browser-default custom-select mt-2">
     <option value="" disabled selected>Type Of Food</option>
     <option value="1">Feedback</option>
     <option value="2">Report a bug</option>
     <option value="3">Feature request</option>
     <option value="4">Feature request</option>
 </select>
 <div class="text-center mt-3">
    <a routerLink="/" class="primary-btn mt-40 infront"><button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Submit</button></a>
  </div>    
    </div>
  </div>
</div>
<!-- Modal -->
<!-- Material form register -->
    </div>      
        <div class="col-lg-6 col-md-6 col-xd-12 mt-2">
            <form method="" action="" class="rounded bg-transparent">
                <!-- Modal -->
                <div id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <!--Content-->
                    <div class="modal-content form-elegant">
                      <h4 class="pl-5">Creat Food</h4>
                      <div class="modal-body mx-4">
                        <div class="form-row mb-4">
     <!--  name -->
                    <input type="text" id="defaultRegisterFormFirstName" class="form-control text-light mb-2" placeholder="Name">             
       <!-- Photo -->
    <div class="input-group mb-2">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">choisir image</label>
        </div>
      </div>
                    <!-- Food Of meal -->
                    <input type="text" id="one" class="form-control mb-2" placeholder="Food of meal">      
            <!-- Maladie of meal -->
            <input type="text" id="two" class="form-control mb-2" placeholder="Maladie of meal">      
       <!-- Type Of Food -->
       <select class="browser-default custom-select">
        <option value="" disabled selected>Type Of Meal</option>
        <option value="1">Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Feature request</option>
        <option value="4">Feature request</option>
    </select>
                            </div>
                             <!-- description -->
 <div class="form-group">
  <textarea class="form-control" id="exampleFormControlTextarea3" rows="9"></textarea>
</div>
<div class="text-center mt-3">
  <a routerLink="" class="primary-btn mt-40 infront"><button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Submit</button></a>
</div>    
<!-- btn See All Foods -->    
</div>                      
                    </div>                   
                </div>               
            </div>           
        </form>   
        </div>      
    </div>  
    <a routerLink="/" class="mt-40"><button type="button" class="btn btn-blue-grey btn-rounded z-depth-1a mr-5">See All Foods</button></a>
    <!-- btn See All Meals -->
    <a routerLink="/" class="primary-btn mt-40"><button type="button" class="btn btn-light-green btn-rounded z-depth-1a">See All Meals</button></a>  
</div>
</div>
</div>
</section>




                
            
 