<section class="my-5" id="">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-8 col-xd-8">
          <div class="text-center">
            <h1 class="mb-4">Tableau de jours</h1>
          </div>
        </div>
      </div>						
      <div class="row">
        <div class="table-wrap col-lg-12 col-md-12 col-xd-12">
          <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th class="head" scope="col">monday</th>
                  <th class="head" scope="col">8:00 > 10:00</th>
                  <th class="head" scope="col">10:30 > 12:00</th>
                  <th class="head" scope="col">12:30 > 02:00</th>
                  <th class="head" scope="col">02:30 > 16:00</th>
                  <th class="head" scope="col">16:30 > 22:00</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="name" scope="row">Flex Muscle</th>
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                </tr>
                <!-- <tr>
                  <th class="name" scope="row">Weightlifting</th>
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>						      
                </tr> -->
                <!-- <tr>
                  <th class="name" scope="row">Target Specific Muscle</th>
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>							      
                </tr> -->
                <!-- <tr>
                  <th class="name" scope="row">Flex Muscle</th>
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>							      
                </tr> -->
                <!-- <tr>
                  <th class="name" scope="row">Weightlifting</th>
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>						      
                </tr>-->
                <tr> 
                  <th class="name" scope="row">Target Specific Muscle</th>
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>				      
                  <td>10.00</td>						      
                </tr>							    							 
              </tbody>
          </table>
          <img src="assets\img\bmi.png" alt="photo" class="img-fluid img-responsive">							
        </div>
      </div>
    </div>	
  </section>
