<!-- start section-calculator -->
        <section class="bmi-area section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-xd-12">
                      <div class="bmi-text">
                          <h3>calculate your bmi</h3>
                          <p class="py-3 text-justify">Give dry stars form us called won't winged had 
                            abundantly land Midst a appear for you, good fill. Kind isn't form and their
                             shall Whose them life be seed them green road bus away.</p>
                          <form action="#" id="bmi">
                              <div class="form-group">
                                  <label for="age">your age:</label>
                                  <input type="number" id="age">
                              </div>
                              <div class="form-group">
                                  <label for="wight">your weight:</label>
                                  <input class="calculations" type="number" name="weight" size="10" max="4">
                              </div>
                              <div class="form-group">
                                  <label for="height">your height:</label>
                                  <input class="calculations" type="number" name="height" size="10">
                              </div>
                              <div class="form-group">
                                  <label for="gender">your gender:</label>
                                  <input type="text" id="gender">
                              </div>
                              <div class="form-group">
                                  <label for="bmi">your bmi is:</label>
                                  <input class="calculations" type="text" id="dopeBMI" size="10" readonly="">
                              </div>
                              <div class="bmi-btn pt-4">
                                  <input class="template-btn" type="submit" id="calculateBMI" name="verify" value="What is bmi">
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xd-12 align-self-center mt-5 mt-lg-0">
                      <div class="bmi-img">
                          <img src="assets\img\bmi.png" class="img-fluid" alt="ph">
                      </div>
                  </div>
              </div>
          </div>
      </section>
   <!-- end section-calculator -->