
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
  }
/* start section-calculator */
.section-padding {
    padding: 130px 0;
}
section {
    padding: 0 10% 0;
    color: #777;
    font-weight: 400;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h3 {
    color: #222;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 1px;
    font-style: italic;   
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.bmi-area .form-group label {
    font-weight: 500;
    text-transform: uppercase;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
button, input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border:1px solid #cccccc;
}
.form-group {
    margin-bottom: 1rem;
}
.bmi-area .form-group {
    width: 30%;
    float: left;
    overflow: hidden;
    margin-right: 3%;   
}
.bmi-area .form-group input {
    display: inline-block;
    padding: 13px 20px;
}
button, input {
    overflow: visible;
}
input .calculations{
background-color:rgb(94, 85, 85) !important;
padding: 13px 20px;
}
.align-self-center {
    align-self: center!important;
}
.col-lg-6{
        position: relative; 
        width: 100%; 
        min-height: 1px; 
        padding-right: 15px;
        padding-left: 15px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.bmi-area .bmi-btn {
    width: 100%;
    overflow: hidden;
}
.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}
.template-btn {
    color: #fff !important;
    background: #0093df;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    display: inline-block;
    padding: 13px 24px !important;
    border-radius: 3px;
    transition: all 0.5s;
}
 /* end section-calculator  */
/* start media query */

@media (min-width: 992px){
.mt-lg-0, .my-lg-0 {
    margin-top: 0!important;
}
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

/* end media query */