
<!--Modal: Login with Avatar Form-->

<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xd-12">
            <div class="modal-header">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive img-fluid mx-auto">
              </div>
<p class="pt-2 text-center">Nom et prénom</p>
<p class="text-center">Age</p>
<p class="p-4 border text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam 
    consequatur porro 
    voluptas ut illum velit provident, dolore corrupti tempora maxime quam ex odit 
    fugit inventore praesentium expedita.</p>
      <!-- Sign in button -->
      <a routerLink="/exercicecoach"><button class="btn btn-info btn-block" type="submit">Sign in</button></a>

  
        </div>
        <div class="col-lg-6 col-md-6 col-xd-12">
<!-- Default form login -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Sign in</p>

    <!--Nom -->
    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Nom">

    <!-- Photo -->
    <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">choisir image</label>
        </div>
      </div>
      <!-- description -->
     
    <div class="form-group mt-4">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" placeholder="Description"></textarea>
    </div>

    <!-- Body part -->
    <div class="form-group mt-4">
    <select class="browser-default custom-select mb-2">
        <option value="" disabled selected>Body part</option>
        <option value="1">Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Feature request</option>
        <option value="4">Feature request</option>
    </select>
    </div>



    <div class="d-flex justify-content-around">
        <div>
        </div>
        <div>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block" type="submit">Sign in</button>

  
 
</form>
<!-- Default form login -->
        </div>
    </div>
</div>