* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
  }
.custom-file-label::after{
    background-image:linear-gradient(#46b6ee,#0093df);
    color:#fff;

}
