.img-fluid{
    height:11rem;
}

h1{
    font-size: 45px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 1px;
    font-style: italic;
}
.table .thead-light th {
    background-color: #909bac !important;
    border-color:#8690a0 !important;
}
img{
    border-radius: 50%;
}
tr:hover {
    background-color: #909bac;
    color: #fff;
    
}
th:hover{
    border-color:#909bac !important;
}
/* .avatar{
   
} */
.file-outline {
    border: none;
    outline: none;
}

input[type="file"] {
    cursor: pointer !Important;
}

input[type="file"]::-webkit-file-upload-button {
    background-image: linear-gradient(#46b6ee,#0093df) !important;
    border: 0;
    padding: 0.5em 1em;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
}

input[type="file"]::-ms-browse {
    background: #33b5e5;
    border: 0;
    padding: 0.5em 1em;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
}


