<section class="my-5 pt-5" id="">
  <!-- start form --> 
  <div class="container">
    <div class="col-lg-8 mx-auto justify-content-center">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xd-12">
        <img src="assets\img\1.png" class="img-fluid img-responsive img-rounded" alt="ph"> 
<input type="file"
id="avatar" name="avatar"
accept="image/png, image/jpeg" class="my-2 file-outline small">
      </div>
      <div class="col-lg-6 col-md-6 col-xd-12">
    <!-- ***************** -->
<!-- Default form contact -->
<form class="text-center border border-light p-5" action="#!">
<h5>Name et prénom</h5>
<h5>Age</h5>
  <h5>Maladie</h5>
</form>
<!-- Default form contact -->
<!-- ***************** -->
       </div>
    </div>
  </div>
</div>
  <!-- end form -->
<!-- start section-table -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <h1 class="mt-5 mb-3">Schedule your Fitness Process</h1>
          <p class="w-75 mx-auto">Who are in extremely love with eco friendly system.Who 
            are in extremely love with eco friendly system</p>
        </div>
      </div>
    </div>						
    <div class="row">
      <div class="table-wrap col-lg-12">
        <table class="table table-bordered">
            <thead class="thead-light">
              <tr class="left" id="sideModalTLInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
                <th class="head text-center" scope="col">Course name</th>
                <th class="head text-center" scope="col">Matin</th>
                <th class="head text-center" scope="col">Midi</th>
                <th class="head text-center" scope="col">Soir</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="name" scope="row">Lundi</th>
                  <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                     facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                     fugit </td>
                     <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                      facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                      fugit </td>
                      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                        fugit </td>
                <td><a routerLink="/modal">Tableau de jour</a></td>
              <tr>
                <th class="name" scope="row">Mardi</th>
                <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                  facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                  fugit </td>
                  <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                   facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                   fugit </td>
                   <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                     facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                     fugit </td>  
                <td><a routerLink="/modal">Tableau de jour</a></td>				      
              </tr> 
              <tr>
                <th class="name" scope="row">Mercredi</th>
                <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                  facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                  fugit </td>
                  <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                   facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                   fugit </td>
                   <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                     facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                     fugit </td>
                <td><a routerLink="/modal">Tableau de jour</a></td>						      
              </tr>
              <tr>
                <th class="name" scope="row">Jeudi</th>
                <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                  facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                  fugit </td>
                  <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                   facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                   fugit </td>
                   <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                     facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                     fugit </td>
              <td><a routerLink="/modal">Tableau de jour</a></td>					      
              </tr>
              <tr>
                <th class="name" scope="row">Vendredi</th>
                <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                  facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                  fugit </td>
                  <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                   facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                   fugit </td>
                   <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                     facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                     fugit </td>
                <td><a routerLink="/modal">Tableau de jour</a></td>					        
              </tr>
              <tr>
                <th class="name" scope="row">Samedi</th>
                <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                  facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                  fugit </td>
                  <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                   facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                   fugit </td>
                   <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                     facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                     fugit </td>
              <td><a routerLink="/modal">Tableau de jour</a></td>			      
              </tr>	
              <tr>
                <th class="name" scope="row">Dimanche</th>
                <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                  facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                  fugit </td>
                  <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                   facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                   fugit </td>
                   <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
                     facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
                     fugit </td>
                <td><a routerLink="/modal">Tableau de jour</a></td>					      
              </tr>							    							 
            </tbody>
        </table>							
      </div>
    </div>
  </div>	
</section>
<!-- end section-table -->
<!-- start section-table -->
 <section class="mb-5" id="">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <h2 class="mb-4">Schedule your Fitness Process</h2>
        </div>
      </div>
    </div>						
    <div class="row">
      <div class="table-wrap col-lg-12">
        <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="head" scope="col">Course name</th>
               <th class="head" scope="col"> <a routerLink="/sport">mon</a></th>
                <th class="head" scope="col"><a routerLink="/about">tue</a></th>
                <th class="head" scope="col">wed</th>
                <th class="head" scope="col">thu</th>
                <th class="head" scope="col">fri</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="name" scope="row">Flex Muscle</th>
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
              </tr>
              <tr>
                <th class="name" scope="row">Weightlifting</th>
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>						      
              </tr>
              <tr>
                <th class="name" scope="row">Target Specific Muscle</th>
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>							      
              </tr>
              <tr>
                <th class="name" scope="row">Flex Muscle</th>
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>							      
              </tr>
              <tr>
                <th class="name" scope="row">Weightlifting</th>
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>						      
              </tr>
              <tr>
                <th class="name" scope="row">Target Specific Muscle</th>
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>				      
                <td>10.00</td>						      
              </tr>							    							 
            </tbody>
        </table>							
      </div>
    </div>
  </div>	
</section> 

<!-- end section-table -->

<!-- µµµµµµµµµµµµµµµµµ -->
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Petit déjeuner</th>
      <th scope="col">Déjeuner</th>
      <th scope="col">Diner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lundi</th>
      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
        fugit </td>
        <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
          fugit </td>
          <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
            facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
            fugit </td>
            <td> Lire plus</td>
    </tr>
    <tr>
      <th scope="row">Mardi</th>
      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
        fugit </td>
        <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
          fugit </td>
          <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
            facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
            fugit </td>
            <td><i class="fas fa-utensils"></i> Tableau de jours</td>
    </tr>
    <tr>
      <th scope="row">Mercredi</th>
      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
        fugit </td>
        <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
          fugit </td>
          <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
            facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
            fugit </td>
            <td><i class="fas fa-utensils"></i> Tableau de jours</td>
    </tr>
    <tr>
      <th scope="row">Jeudi</th>
      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
        fugit </td>
        <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
          fugit </td>
          <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
            facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
            fugit </td>
            <td><i class="fas fa-utensils"></i> Tableau de jours</td>
    </tr>
    <tr>
      <th scope="row">Vendredi</th>
      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
        fugit </td>
        <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
          fugit </td>
          <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
            facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
            fugit </td>
            <td><i class="fas fa-utensils"></i> Tableau de jours</td>
    </tr>
    <tr>
      <th scope="row">Samedi</th>
      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
        fugit </td>
        <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
          fugit </td>
          <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
            facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
            fugit </td>
            <td><i class="fas fa-utensils"></i> Tableau de jours</td>
    </tr>
    <tr>
      <th scope="row">Dimanche</th>
      <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
        facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
        fugit </td>
        <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
          facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
          fugit </td>
          <td class="text-justify p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet,
            facilis atque laborum, numquam ipsa repellat iusto perferendis nam 
            fugit </td>
            <td><i class="fas fa-utensils"></i> Tableau de jours</td>
    </tr>
  </tbody>
</table>
</div>
<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>