<!--Modal: Login / Register Form-->

<div class="py-5" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-light" data-toggle="tab" href="#panel7" role="tab">
              Spécialiste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" data-toggle="tab" href="#panel9" role="tab">
                  Coach</a>

                    </li>
                </ul>
                <!-- Tab panels -->
                <div class="tab-content">
                    <!-- start Specialiste -->
                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                        <img src="assets\img\2.png" class="img-fluid img-responsive" alt="ph">
                        <!--Body-->
                        <div class="modal-body mb-1">
                            <!-- <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
              </div> -->
                            <div class="form-row mb-4">
                                <div class="col">
                                    <!-- First name -->
                                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                                </div>
                                <div class="col">
                                    <!-- Last name -->
                                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                            <!-- Phone -->
                            <input type="number" id="defaultRegisterFormPhone" class="form-control mb-4" placeholder="Phone">
                            <!-- E-mail -->
                            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Email">
                            <!-- Password -->
                            <input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                            <!-- confirmer password-->
                            <input type="password" id="defaultRegisterFormCPassword" class="form-control mb-4" placeholder="Comfirmer password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

                            <!-- <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
              </div> -->

                            <div class="text-center my-3">
                                <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Valider</button>
                            </div>
                        </div>
                        <!--Footer-->
                    </div>
                    <!--/.Panel 7-->
                    <!-- end Specialiste -->

                    <!-- start coach -->
                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel9" role="tabpanel">
                        <img src="assets\img\4.png" class="img-fluid img-responsive" alt="ph">
                        <!--Body-->
                        <div class="modal-body">
                            <div class="md-form form-sm mb-5">
                                <i class="fas fa-envelope prefix"></i>
                                <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                            </div>

                            <div class="md-form form-sm mb-5">
                                <i class="fas fa-lock prefix"></i>
                                <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                                <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                            </div>

                            <div class="md-form form-sm mb-4">
                                <i class="fas fa-lock prefix"></i>
                                <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                            </div>

                            <div class="text-center form-sm mt-2">
                                <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                            </div>

                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options text-right">
                                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Panel 8-->
                    <!-- end coach -->

            </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content">
            <!-- start Specialiste -->
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
<img src="assets\img\2.png" class="img-fluid img-responsive" alt="ph">
            <!--Body-->
            <div class="modal-body mb-1">
              <div class="form-row mb-4">
                  <div class="col">
                      <!-- First name -->
                      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                      <!-- Last name -->
                      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                  </div>
              </div>
<!-- Phone -->
<input type="number" id="defaultRegisterFormPhone" class="form-control mb-4" placeholder="Phone"> 
<!-- E-mail -->
<input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Email">    
<!-- Password -->
<input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
<!-- confirmer password-->
<input type="password" id="defaultRegisterFormCPassword" class="form-control mb-4" placeholder="Comfirmer password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

             
              <div class="text-center my-3">
                  <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Valider</button>
                </div>
          </div>
            <!--Footer-->
          </div>
          <!--/.Panel 7-->
<!-- end Specialiste -->

          <!-- start coach -->
                <!--Panel 8-->
                <div class="tab-pane fade" id="panel9" role="tabpanel">
                  <img src="assets\img\4.png" class="img-fluid img-responsive" alt="ph">
                  <!--Body-->
            <div class="modal-body mb-1">
              <div class="form-row mb-4">
                  <div class="col">
                      <!-- First name -->
                      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                      <!-- Last name -->
                      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                  </div>
              </div>
<!-- Phone -->
<input type="number" id="defaultRegisterFormPhone" class="form-control mb-4" placeholder="Phone"> 
<!-- E-mail -->
<input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Email">    
<!-- Password -->
<input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
<!-- confirmer password-->
<input type="password" id="defaultRegisterFormCPassword" class="form-control mb-4" placeholder="Comfirmer password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

      
<div class="text-center my-3">
  <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Valider</button>
</div>
                  </div>
                  <!--Footer-->
                 

                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->
<!-- **************************** -->

<!-- start section-joingUp -->
<section class="pb-5">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center">
                <h3 class="subheading pt-5">Shape Your Body</h3>
                <h2 class="mb-1">Our Coaches</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="coach align-items-stretch">
                    <img src="assets\img\2.png" class="img" alt="ph">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="text bg-white p-4">
                    <span class="subheading">Owner / Head Coach</span>
                    <h3>Victor Hump</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="ftco-social-media d-flex mt-4">
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-twitter"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="coach align-items-stretch">
                    <img src="assets\img\4.png" class="img" alt="ph">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="text bg-white p-4">
                    <span class="subheading">Owner / Head Coach</span>
                    <h3>Victor Hump</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="ftco-social-media d-flex mt-4">
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-twitter"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="text bg-white p-4">
                    <span class="subheading">Owner / Head Coach</span>
                    <h3>Victor Hump</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="ftco-social-media d-flex mt-4">
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-twitter"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="coach align-items-stretch">
                    <img src="assets\img\5.png" class="img" alt="ph">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="text bg-white p-4">
                    <span class="subheading">Owner / Head Coach</span>
                    <h3>Victor Hump</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <ul class="ftco-social-media d-flex mt-4">
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-twitter"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xd-6 d-flex">
                <div class="coach align-items-stretch">
                    <img src="assets\img\1.png" class="img mx-auto" alt="ph">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end section-joingUp -->

<!-- ********************************* -->