* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
  }
 /* start section-joingUp  */
.coach .text .subheading {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
 .text h3 {
    font-size: 22px;
    color: #000 !important;
    text-transform: uppercase;
    font-weight: 700;
}
.coach .text .ftco-social-media {
    padding: 0;
}
.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding:0 !important;
}
.ftco-social-media li a { 
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #2B92DF 0%, rgb(87, 182, 255) 100%);
}
 li a i{
    color:#fff !important;
    font-size:1rem;
    
}
li{
    list-style-type:none;
    list-style: none;
    text-decoration:none;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.align-items-center {
    align-items: center !important;
}
    /* µµµµµµµµµµµµµµµµµµµµ */

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.text-center {
    text-align: center!important;
}
.fadeInUp {
    animation-name: fadeInUp;
}
.heading-section h2 {
    z-index: -1;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1px;
    font-style: italic;
}
 .subheading {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #000;
    line-height: 1;
    z-index: 1;
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-style: italic;
}
 .text .subheading {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
 .text h3 {
    font-size: 22px;
    color: #000 !important;
    text-transform: uppercase;
    font-weight: 700;
}
.custom-file-label::after{
    background-image:linear-gradient(#46b6ee,#0093df);
    color:#fff;
}

 /* end section-joingUp */
/* start media query */

@media (min-width: 768px){
    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    }

/* end media query */
    /* startModal: Login / Register Form */
    
#modalLRForm{
    margin-top: -4rem;
}

.modal-c-tabs{
    box-shadow: 0px 5px 14px 0px #2B92DF !important;
    border: none !important;
}
.tab-content .img-fluid{
    max-width: 18%;
    height: auto;
    margin-left: 41%;

}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
    margin: 0rem !important;
}
.modal-dialog.cascading-modal .modal-c-tabs .tab-content {
    padding: 1.7rem 0 0 0;
    box-shadow: 0px 5px 14px 0px #2B92DF !important;
}